# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Variables de entorno
.env
*.env

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Archivos temporales
*.tmp
*.temp